<div class="row ribbon">
  <div class="col d-flex justify-content-center">
    <div class="d-flex border-start border-end p-1">
      <mat-icon class="m-1">phone</mat-icon>
      <p class="m-1">(00) 000 111 2222</p>
    </div>
    <div class="d-flex border-end p-1">
      <mat-icon class="m-1">email</mat-icon>
      <p class="m-1">example@example.com</p>
    </div>
  </div>
  <div class="col">
    <div class="d-flex m-1 justify-content-center gap-4">
      <i class="fa m-1">&#xf082;</i>
      <i class="fa m-1">&#xf099;</i>
      <i class="fa m-1">&#xf16a;</i>
      <i class="fa m-1">&#xf16d;</i>
      <i class="fa m-1">&#xf08c;</i>
    </div>
  </div>
</div>
<div class="nav d-flex mt-3 justify-content-evenly">
  <div class="card-header-box background text-center d-flex justify-content-center">
    <img src="../../assets/Images/Admin.png" alt="Admin" height="18%" width="25%" class="img-fluid">
    <h4 class="m-2 font-weight-bold text-color">Patient System</h4>
  </div>
  <div>
    <nav class="navbar navbar-expand-lg navbar">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav gap-4">
            <li class="nav-item ribbon rounded">
              <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Services</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Success Stories</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Download App</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> <span class="text-color">About Us</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/login"> <span class="text-color">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user_dashboard"> <span class="text-color">User
                  Dashboard</span> </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="bg p-5 mt-3">
  <h1 class="text-center mt-5 text-white fs-1 m-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
  <div class="text-center">
    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id necessitatibus facilis natus
      fugiat quis doloremque vitae, suscipit ratione sint hic, minus, labore modi voluptatum cum! Pariatur ullam
      voluptate, quia perspiciatis earum deserunt aspernatur quisquam aperiam incidunt nam nisi! Blanditiis, nisi?</p>
  </div>
  <div class="text-center">
    <button class="btn ribbon m-2 mt-5">Lorem Ipsum</button>
    <button class="btn ribbon m-2  mt-5">Lorem Ipsum</button>
  </div>
</div>
<div class="text-center">
  <img src="../../assets/Images/pc.png" class="pc_img" alt="Laptop">
</div>
<div class="container">
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/Message.png" alt="Message" width="12%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/second.png" alt="batch" width="11%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/third.png" alt="Location" width="12%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/fourth.png" alt="Laguage" width="12%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/fifth.png" alt="Document_Watch" width="15%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-2 border-0">
        <div class="d-flex justify-content-start gap-3">
          <img src="../../assets/Images/sixth.png" alt="Bell" width="15%">
          <h1 class="mt-2">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore nostrum est nulla fuga quos assumenda
            repellendus nihil voluptates ea dolorem, ducimus laboriosam, aut esse veniam. Quasi sapiente eius soluta
            repellendus voluptatem, ad commodi error facilis, magni incidunt deserunt fugit placeat </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service p-5">
  <h1 class="text-center m-3 text-color fs-3">Services</h1>
  <div class="text-center mb-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem quisquam ea? Quibusdam voluptatum
      atque, provident, debitis laboriosam vitae recusandae, minus vel voluptas labore et. Explicabo vitae officiis
      quaerat quae at nihil inventore est eligendi autem fugiat velit itaque obcaecati aperiam, tenetur provident
      repudiandae cupiditate aspernatur dolorum dolores quisquam nam?</p>
  </div>
  <hr>
  <h1 class="text-center m-5">Lorem Ipsum</h1>
  <div class="container d-flex  ">
    <div class="col">
      <div class="d-flex flex-column align-items-end m-5 mt-0">
        <img src="../../assets/Images/Account.png" class="right_float" alt="Account" width="20%">
        <h2 class="text-color fs-4">Lorem Ipsum</h2>

        <p class="">Lorem Ipsum is simply text of the printing</p>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-end m-5 ">
          <img src="../../assets/Images/account_card.png" class="right_float" alt="Account_card" width="20%">
          <h2 class="text-color fs-4">Lorem Ipsum</h2>
          <p class="">Lorem Ipsum is simply text of the printing</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-end m-5 ">
          <img src="../../assets/Images/location.png" class="right_float" alt="Location" width="20%">
          <h2 class="text-color fs-4">Lorem Ipsum</h2>
          <p class="">Lorem Ipsum is simply text of the printing</p>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../assets/Images/patient.png" alt="Patient" width="80%">
    </div>
    <div class="col d-flex flex-column  ">
      <div class="col">
        <div class=" card d-flex flex-column justify-content-start w-75 p-3 shadow">
          <img src="../../assets/Images/right-tick.png" alt="Tick" width="20%">
          <h2 class="text-color fs-4">Lorem Ipsum</h2>
          <p class="">Lorem Ipsum is simply text of the printing</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column justify-content-start p-3">
          <img src="../../assets/Images/right_arrow.png" alt="Arrow" width="15%">
          <h2 class="text-color fs-4">Lorem Ipsum</h2>
          <p class="">Lorem Ipsum is simply text of the printing</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column justify-content-start p-3">
          <img src="../../assets/Images/docs.png" alt="Document" width="15%">
          <h2 class="text-color fs-4">Lorem Ipsum</h2>
          <p class="">Lorem Ipsum is simply text of the printing</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center m-5 fs-2 text-color">Success Stories</h1>
<div class="container d-flex">
  <div class="row">
    <div class="col d-flex">
      <img src="../../assets/Images/comma.png" alt="Comma" height="25%">
      <p class="mt-2 m-1 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore commodi esse laboriosam
        quae beatae fugiat sit perferendis tempora cumque maxime. Dolore inventore soluta impedit quaerat consequatur
        praesentium accusamus doloremque. </p>
    </div>
    <div class="col d-flex">
      <img src="../../assets/Images/comma.png" alt="Comma" height="25%">
      <p class="mt-2 m-1 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore commodi esse laboriosam
        quae beatae fugiat sit perferendis tempora cumque maxime. Dolore inventore soluta impedit quaerat consequatur
        praesentium accusamus doloremque. </p>
    </div>
  </div>
</div>
<div class="text-center ">
  <h1>
    &#x2022; &#x2022; &#x2022;
  </h1>
  <div class="bg-color p-5 mt-3">
    <h1 class="text-center mt-5 text-white fs-3 fw-bold">Download the app now!.</h1>
    <div class="text-center">
      <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id necessitatibus facilis natus
        fugiat quis doloremque vitae, suscipit ratione sint hic, minus, labore modi voluptatum cum! Pariatur ullam
        voluptate, quia perspiciatis earum deserunt aspernatur quisquam aperiam incidunt nam nisi! Blanditiis, nisi?</p>
    </div>
    <div>
      <button class="btn  m-5 mt-5 text-white border rounded-pill"> <i style="font-size:24px" class="fa">&#xf179;</i>
        Iphone</button>
      <button class="btn  m-5  mt-5 text-white border rounded-pill"> <i style="font-size:24px" class="fa">&#xf17b;</i>
        Android</button>
    </div>
  </div>
</div>
<div class="container d-flex mt-5">
  <div class="row">
    <div class="col">
      <h1>About Us</h1>
      <p class="footer_text w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consectetur accusantium
        blanditiis dolor in cumque nobis exercitationem, cupiditate maxime quidem nesciunt rem modi necessitatibus?
        Soluta a quaerat labore non nam ipsam inventore accusantium neque. Dicta, ab! Minima fuga delectus dicta.
      </p>
    </div>
    <div class="col">
      <h1>Call Us</h1>
      <p class="footer_text">(00)000 000 0000</p>
      <h1>Send Us Mail</h1>
      <p class="footer_text">example@example.com</p>
    </div>
    <div class="col">
      <h1>Keep In Touch</h1>
      <div class="d-flex m-1 justify-content-start gap-3 text-center footer_text">
        <i class="fa m-1">&#xf082;</i>
        <i class="fa m-1">&#xf099;</i>
        <i class="fa m-1">&#xf16a;</i>
        <i class="fa m-1">&#xf16d;</i>
        <i class="fa m-1">&#xf08c;</i>
      </div>
    </div>
  </div>
</div>
<div class="d-flex align-content-center justify-content-center gap-5 m-3">
  <div><a class="nav-link active" aria-current="page" href="#"> <span class="text-color fs-6">Home</span> </a></div>
  <div><a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Services</span> </a></div>
  <div><a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Success Stories</span></a></div>
  <div><a class="nav-link active" aria-current="page" href="#"> <span class="text-color">Download Apps</span> </a></div>
  <div><a class="nav-link active" aria-current="page" href="#"> <span class="text-color">About Us</span> </a></div>
</div>
<hr class="m-3">
<footer class="text-center p-2 footer_text">
  @2020 Patient System.All Rights Reserved.
</footer>