<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card card_style">
        <div class="card-header-box background text-center p-4 d-flex justify-content-center">
            <img src="../../assets/Images/Admin.png" alt="" height="18%" width="18%" class="img-fluid">
            <h4 class="m-3 font-weight-bold">Patient System</h4>
        </div>
        <div class="card-body">
            <h5 class="text-center m-4">Login to your Account</h5>
            <form class="p-4 pt-2">
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" required
                        placeholder="Email Address">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" required
                        placeholder="Password">
                </div>
                <div class="mb-4 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>
                <button type="submit" class="w-100 rounded-pill mb-4 background p-2">LOGIN</button>
            </form>
        </div>
    </div>
</div>